.container-filme {
  width: 100%;
  max-width: 90rem;
  margin: auto;
  padding: 0 1.6rem;
}

.container-filme h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.container-filme img {
  width: 100%;
  border-radius: 1.2rem;
  display: block;
}

.container-filme strong {
  display: block;
  margin: 1.6rem 0;
  font-size: 2.4rem;
}

.avaliacao {
  display: flex;
  margin: 1.6rem 0;
  font-weight: 600;
  font-size: 1.8rem;
}

.area-buttons {
  display: flex;
  column-gap: 1.6rem;
}

.area-buttons button {
  border: none;
  outline: none;
  font-size: 2rem;
  background-color: #fff;
  width: 10rem;
  padding: .8rem 0;
  border-radius: .4rem;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: .3s;
}

.area-buttons button a {
  color: #000;
  text-decoration: none;
}

.area-buttons button:hover {
  opacity: .7;
}

.labels-genero {
  margin-top: 20px;
  display: flex;
  column-gap: 8px;
}

.genero {
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 18px;
  background-color: #0381FE;
}